{% assign showExcerpt = showExcerpt | default: false %}
{% assign isNewest = isNewest | default: false %}

{% if isNewest == false %}
<ul class="article-grid">
{% else %}
  <ul class="Newest">
  {% endif %}

  {% for post in posts limit: count offset: offset %}
  {% if isNewest == false %}
  <li class="article">
  {% else %}
  <li class="articleNewest">
  {% endif %}
    <a href="{{ post.url | url }}">
      <h4 class="article-title">{{ post.data.title }}</h4>
      <div class="article-time">
        <time datetime="{{ post.date }}">
          {{ post.date | date : "%a, %b %d, %Y" }}
        </time>
      </div>
      <p class="article-description">{{ post.data.description }}</p>
      
      {% if showExcerpt %}
      <p class="article-content">
      {{ post.templateContent | smartExcerpt: 150 }}
      </p>
      {% endif %}
    </a>
  </li>
  {% endfor %}
</ul>

<style>
  .article-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--space-1);
    list-style: none;
    padding: 0;
  }

  .Newest {
    flex: 1 1 100%;
    min-width: 100%;
    min-height: var(--space-2);
    border: .2px solid var(--color-border);
    border-radius: 0px;
    transition: all 0.3s ease;
    box-sizing: border-box;
  }

  .article {
    background-color: var(--color-post);
    padding: var(--space-4);
    min-height: var(--space-2);
    border: .2px solid var(--color-border);
    border-radius: 0px;
    transition: all 0.3s ease;
    box-sizing: border-box;
  }

  .articleNewest {
    list-style: none;
    padding: var(--space-1);
    min-height: var(--space-2);
    border: .2px solid var(--color-border);
    border-radius: 0px;
    transition: all 0.3s ease;
    box-sizing: border-box;
  }

  .articleNewest * {
    text-decoration: none !important;
  }

  
  .article a {
    text-decoration: unset;
    display: block;
    height: 100%;
  }
  
  .article + .article {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .article-title {
    transition: color 0.2s ease-in-out;
    margin-bottom: var(--space-2);
    font-size: var(--font-size-sm);
    line-height: 1.4;
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2;
           line-clamp: 2; 
   -webkit-box-orient: vertical;
    line-height: 1.4;
    height: calc(2 * 1.4em);
    min-height: calc(2 * 1.4em); 
  }
  
  .article:hover .article-title {
    color: var(--color-secondary);
  }
  
  .article-description {
    font-size: var(--font-size-xs);
    color: var(--color-text);
    line-height: 1.5;
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2;
           line-clamp: 2; 
   -webkit-box-orient: vertical;
  }
  
  .article-time {
    color: var(--color-text-shade);
    font-size: calc(var(--font-size-xs)* 0.8);
    margin-bottom: var(--space-2);
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2;
           line-clamp: 2; 
   -webkit-box-orient: vertical;
   line-height: 1.4;
    height: calc(1 * 1.4em);
    min-height: calc(1 * 1.4em);
  }

  .article-content {
    decoration: none;
    font-size: calc(var(--font-size-xs) * 1.1);
    color: var(--color-text-shade);
    line-height: 1.5;
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2;
           line-clamp: 2; 
   -webkit-box-orient: vertical;
  }

  /* được dùng ban đầu và có thể dùng khi có nhiều bài viết, nhưng có bug layout
  .article-grid {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-1);
    list-style: none;
    padding: 0;
    /* ĐÃ XÓA: margin-bottom: -1.5em; */
  }
  
  .article {
    background-color: var(--color-post);
    flex: 1 1 calc(33.33% - var(--space-1));
    min-width: 100px;
    padding: var(--space-3);
    min-height: var(--space-2);
    border: .2px solid var(--color-border);
    border-radius: 0px;
    transition: all 0.3s ease;
    box-sizing: border-box;
  }

  .articleNewest {
    flex: 1 1 calc(33.33% - var(--space-1));
    min-width: 100px;
    padding: var(--space-1);
    min-height: var(--space-2);
    border: .2px solid var(--color-border);
    border-radius: 0px;
    transition: all 0.3s ease;
    box-sizing: border-box;
  }
  */

</style>