{% assign showExcerpt = showExcerpt | default: false %}
<ul class="article-grid">

  {% for post in posts limit: count offset: offset %}
  <li class="article">
    <a href="{{ post.url | url }}">
      <h4 class="article-title">{{ post.data.title }}</h4>
      <div class="article-time">
        <time datetime="{{ post.date }}">
          {{ post.date | date : "%a, %b %d, %Y" }}
        </time>
      </div>
      <p class="article-description">{{ post.data.description }}</p>
      
      {% if showExcerpt %}
      <p class="article-content">
      {{ post.templateContent | smartExcerpt: 150 }}
      </p>
      {% endif %}
    </a>
  </li>
  {% endfor %}
</ul>

<style>
  .article-grid {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-1);
    list-style: none; /* fixed: liststyle -> list-style */
    padding: 0;
    margin-bottom: -1.5em;
  }
  
  .article {
    flex: 1 1 calc(20% - var(--space-4)); /* 5 cột */
    min-width: 100px; /* Đảm bảo card không quá nhỏ */
    padding: var(--space-1); /* Tăng padding cho đẹp */
    color: var(--color-text);
    background: var(--color-bg);
    border: .2px solid var(--color-border);
    border-radius: 0px;
    transition: all 0.3s ease;
    box-sizing: border-box;
    /* border-left: 3px solid grey; */
    /* deleted: display: flex, flex-direction: row, width: 20% */
  }
  
  .article a {
    text-decoration: unset;
    display: block;
    height: 100%;
  }
  
  .article + .article {
    margin-top: 0; /* ĐÃ SỬA: Xóa margin-top vì đã dùng gap */
    margin-bottom: 0;
  }
  
  .article-title {
    transition: color 0.2s ease-in-out;
    margin-bottom: var(--space-2);
    font-size: var(--font-size-sm);
    line-height: 1.4;
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
    line-height: 1.4; /* luôn đảm bảo chiều cao 2 dòng */
    height: calc(2 * 1.4em);
    min-height: calc(2 * 1.4em); 
  }
  
  .article:hover .article-title {
    color: var(--color-secondary);
  }
  
  .article-description {
    font-size: var(--font-size-xs);
    color: var(--color-text-shade);
    line-height: 1.5;
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3; 
   -webkit-box-orient: vertical;
  }
  
  .article-time {
    color: var(--color-text-shade);
    font-size: calc(var(--font-size-xs)* 0.8);
    margin-bottom: var(--space-2);
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
   line-height: 1.4; /* luôn đảm bảo chiều cao 2 dòng */
    height: calc(1 * 1.4em);
    min-height: calc(1 * 1.4em);
  }
</style>